name: Tests

on:
  push:
    branches:
      - '**'
      - '!main'
  workflow_dispatch:

jobs:
  tests:
    name: Run tests
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Filter Path
        uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: '.github/config/paths-filter.yaml'

      # Run for Python Test
      - name: Setup Python
        if: steps.filter.outputs.python == 'true'
        uses: actions/setup-python@v6
        with:
          python-version-file: 'python/.python-version'
          # https://github.com/actions/setup-python/blob/main/docs/advanced-usage.md#using-the-python-version-file-input

      - name: Run Python Tests
        if: steps.filter.outputs.python == 'true'
        working-directory: ./python
        run: |
          python -m unittest --verbose */*/test_*.py

      # Run for Node Test
      - name: Setup Node.js
        if: steps.filter.outputs.node == 'true'
        uses: actions/setup-node@v6
        with:
          node-version-file: 'node/.node-version'

      - name: Run Node.js Tests
        if: steps.filter.outputs.node == 'true'
        working-directory: ./node
        run: |
          node --test */*/test*.js

      # Run for Go Test
      - name: Setup Go
        if: steps.filter.outputs.go == 'true'
        uses: actions/setup-go@v6
        with:
          go-version: '1.25.5'

      - name: Run Go Tests
        if: steps.filter.outputs.go == 'true'
        working-directory: ./go
        run: |
          go test -v ./*/*/
